# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
.venv/
venv/
ENV/
env/

# Django static and media files
/staticfiles/
media/

# Django settings files
*.env

# Database
*.sqlite3
db.sqlite3

# VS Code settings
.vscode/

# PyCharm settings
.idea/


# Windows system files
Thumbs.db
Desktop.ini
