.product-info-wrapper {
    margin: 0 auto;
    width: 70%; /* Adjust width as needed */
    padding-bottom: 12em;
    padding-top: 5em;
}

.product-info-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap; /* Allows items to stack on smaller screens */
    align-items: flex-start; /* Aligns items to the top */
}


.product-info-img {
    flex: 1 1 40%; /* Flex-grow: 1, Flex-shrink: 1, Basis: 40% */
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 3; /* Maintains aspect ratio */
}

.product-info-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image is visible */
    object-position: center; /* Centers the image */
    background-color: #ffffff; /* Optional background color for empty areas */
}


.product-info-details {
    flex: 1 1 50%; /* Flex-grow: 1, Flex-shrink: 1, Basis: 50% */
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 100%;
}

.title-price .title {
    text-align: start;
    font-size: 2.5em;
}

.title-price p {
    font-size: 1.2em;
}

.product-info-details .btn {
    width: 100%;
    background-color: #FF613A;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    border: none;
    transition: background-color 0.3s ease;
}

.product-info-details .btn:hover {
    background-color: #E14E2A;
}

.category {
    color: #6f7172;
    font-size: 1.2em;
}

.edit-delete-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-delete-wrapper .icons {
    display: flex;
    gap: 1em;
}


.edit-delete-wrapper a i {
    font-size: 1.5em;
    cursor: pointer;
}


