{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="product-info-wrapper">
        <div class="product-info-container">
            <div class="product-info-img">
                <img src="{{ product.image_url.url }}">
            </div>

            <div class="product-info-details">
                <div class="edit-delete-wrapper">
                    <h4 class="category">{{ product.category }}</h4>
                    <div class="icons">
                        <a href="{% url 'edit-product' product.pk %}"><i class="fa-regular fa-pen-to-square" style="color: #ff613a;"></i></a>
                        <a href="{% url 'delete-product' product.pk %}"><i class="fa-solid fa-delete-left" style="color: #ff613a;"></i></a>
                    </div>
                </div>
                <div class="title-price">
                    <h2 class="title">{{ product.name }}</h2>
                    <p>Price: ${{ product.price|floatformat:2 }}</p>
                </div>

                <p class="description">
                    {{ product.description }}
                </p>
                
                <!-- Form for adding product to cart -->
                <form method="post" action="{% url 'add-product-to-cart' product.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
