{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Athlete</title>
    <link rel="stylesheet" href="{% static 'styles/site.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-img"><img src="{% static 'images/logo.png'%}"></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Account</a></li>
            </ul>
            <div class="cart-img"><img src="{% static 'images/cart.png'%}"></div>
            <div class="menu-img"><img src="{% static 'images/menu.png' %}"></div>
        </nav>
    
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>