.product-info-wrapper {
    margin: 0 auto;
    width: 55%;
    padding-bottom: 10em;
}


.product-info-container {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}


.product-info-img {
    width: 100%;
    max-width: 50%;
}


.product-info-details {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 100%;
}


.title-price .title {
    text-align: start;
    font-size: 3em;
}


.title-price p {
    font-size: 1.4em;
}


.product-info-details .btn {
    width: 100%;
    background-color: #FF613A;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    border: none;
    transition: background-color 0.3s ease;
}

.product-info-details .btn:hover {
    background-color: #E14E2A;
}

/* Category styling */
.category {
    color: #6f7172;
    font-size: 1.2em;
}
