{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="background">
        <div class="account-main">
            <div class="account-img">
                <img src="{% static 'images/image1.png' %}">
            </div>
            <div class="account-register">
                <form method="post">
                    <h3>Register</h3>
                    <div class="inputs">
                        {{ form }}
                    </div>
                    <div class="submit">
                        <button class="btn">Register</button>
                        <p><a href="{% url 'login' %}" class="register-link">Already have an account?</a></p>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}